# Ignore HL files
*.pkg
*.bmp
*.htm
*.png
*.cfg
*.hlz
*.dtd
*.hl
*.xml
*.stock
*.db
!*.user
!COM_*.stock
!jk_local_fixes*
GREP Backup/
Version Archives/
importbackup/
EMPTY FILES/
# Ignore Basic Pack files
